<h1>Êxito na regeneração dos códigos de recuperação</h1>

<p>Salve este código de backup de emergência e guarde-o em algum lugar seguro. (Todos os códigos anteriores expiraram.)</p>

<ul>
  <% @recovery_codes.each do |code| %>
    <li><%= code %></li>
  <% end %>
</ul>

<%= link_to "Feito", two_factor_authentication_path %>
