<h1>Autentique sua conta</h1>

<%= form_with(
      url: users_sign_in_otp_path,
      scope: :user,
      method: :post,
      local: true
) do |f| %>
  <p>Digite o código de 6 dígitos do seu aplicativo autenticador de dois fatores</p>

  <%= render 'components/otp_field', f: f, field_name: :otp_attempt, code_length: 6 %>


  <div>
    <p>Não tem seu telefone?</p>
    <%= link_to "Use um código de recuperação para acessar sua conta.", users_sign_in_recovery_code_path %>
  </div>

  <%= f.submit 'Verificar' %>
<% end %>
