<h1>Sucesso na configuração 2FA</h1>

 <p>Salve este código de backup de emergência e guarde-o em algum lugar seguro. Se você perder seu telefone, poderá usar códigos alternativos para fazer login.</p>

 <ul>
   <% @recovery_codes.each do |code| %>
     <li><%= code %></li>
   <% end %>
 </ul>

<%= link_to "Feito", two_factor_authentication_path %>
